<!-- Blog List News -->
<article class="row mb-7">
  <div class="col-sm-5 mb-5 mb-sm-0">
    <!-- Image -->
    <img class="img-fluid w-100 rounded" src="../../assets/img/480x320/img12.jpg" alt="Image Description">
    <!-- End Image -->
  </div>

  <div class="col-sm-7">
    <!-- Info -->
    <div class="pt-1 pr-4">
      <small class="d-block text-muted mb-3">April 11, 2018</small>
      <div class="mb-7">
        <h2 class="h5">
          <a href="single-article-classic.html">Smartbtc sees the need for contracts</a>
        </h2>
        <p>Just recently the startup Smartbtc announced the execution of...</p>
      </div>
      <small class="d-block text-secondary">by <a class="text-dark font-weight-bold" href="#">James Austin</a></small>
    </div>
    <!-- End Info -->
  </div>
</article>
<!-- End Blog News -->

<!-- Blog List News -->
<article class="row mb-7">
  <div class="col-sm-5 mb-5 mb-sm-0">
    <!-- Image -->
    <img class="img-fluid w-100 rounded" src="../../assets/img/480x320/img17.jpg" alt="Image Description">
    <!-- End Image -->
  </div>

  <div class="col-sm-7">
    <!-- Info -->
    <div class="pt-1 pr-4">
      <small class="d-block text-muted mb-3">May 5, 2018</small>
      <div class="mb-7">
        <h3 class="h5">
          <a href="single-article-classic.html">Italy completes consultations on companies</a>
        </h3>
        <p>Public consultations on a new regulatory regime for crypto companies...</p>
      </div>
      <small class="d-block text-secondary">by <a class="text-dark font-weight-bold" href="#">James Austin</a></small>
    </div>
    <!-- End Info -->
  </div>
</article>
<!-- End Blog News -->

<!-- Blog List News -->
<article class="row mb-7">
  <div class="col-sm-5 mb-5 mb-sm-0">
    <!-- Image -->
    <img class="img-fluid w-100 rounded" src="../../assets/img/480x320/img13.jpg" alt="Image Description">
    <!-- End Image -->
  </div>

  <div class="col-sm-7">
    <!-- Info -->
    <div class="pt-1 pr-4">
      <small class="d-block text-muted mb-3">April 16, 2018</small>
      <div class="mb-7">
        <h3 class="h5">
          <a href="single-article-classic.html">ICOs have raised $2 billion this year</a>
        </h3>
        <p>Despite the quality of this year's initial crowd offerings being patchy at best...</p>
      </div>
      <small class="d-block text-secondary">by <a class="text-dark font-weight-bold" href="#">Scott Levine</a></small>
    </div>
    <!-- End Info -->
  </div>
</article>
<!-- End Blog News -->

<!-- Blog List News -->
<article class="row mb-7">
  <div class="col-sm-5 mb-5 mb-sm-0">
    <!-- Image -->
    <img class="img-fluid w-100 rounded" src="../../assets/img/480x320/img14.jpg" alt="Image Description">
    <!-- End Image -->
  </div>

  <div class="col-sm-7">
    <!-- Info -->
    <div class="pt-1 pr-4">
      <small class="d-block text-muted mb-3">May 1, 2018</small>
      <div class="mb-7">
        <h3 class="h5">
          <a href="single-article-classic.html">Touch yourself</a>
        </h3>
        <p>Everyone's are different, and they can even change...</p>
      </div>
      <small class="d-block text-secondary">by <a class="text-dark font-weight-bold" href="#">Charlotte
          Moore</a></small>
    </div>
    <!-- End Info -->
  </div>
</article>
<!-- End Blog News -->

<!-- Blog Card -->
<article class="bg-primary rounded text-center shadow-primary-sm position-relative mb-7">
  <a class="d-block u-space-2 px-7" href="../blog/single-article-classic.html">
    <!-- SVG Quote -->
    <figure class="mx-auto mb-3" style="width: 35px;">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        viewBox="0 0 8 8" style="enable-background:new 0 0 8 8;" xml:space="preserve">
        <path class="u-fill-white" opacity=".7" d="M3,1.3C2,1.7,1.2,2.7,1.2,3.6c0,0.2,0,0.4,0.1,0.5c0.2-0.2,0.5-0.3,0.9-0.3c0.8,0,1.5,0.6,1.5,1.5c0,0.9-0.7,1.5-1.5,1.5
                C1.4,6.9,1,6.6,0.7,6.1C0.4,5.6,0.3,4.9,0.3,4.5c0-1.6,0.8-2.9,2.5-3.7L3,1.3z M7.1,1.3c-1,0.4-1.8,1.4-1.8,2.3
                c0,0.2,0,0.4,0.1,0.5c0.2-0.2,0.5-0.3,0.9-0.3c0.8,0,1.5,0.6,1.5,1.5c0,0.9-0.7,1.5-1.5,1.5c-0.7,0-1.1-0.3-1.4-0.8
                C4.4,5.6,4.4,4.9,4.4,4.5c0-1.6,0.8-2.9,2.5-3.7L7.1,1.3z" />
      </svg>
    </figure>
    <!-- End SVG Quote -->

    <h3 class="h4 text-white mb-4">In the future, design principles won't be about design</h3>
    <small class="d-block u-text-light mb-1">Andrea Gard</small>
  </a>
</article>
<!-- End Blog Card -->

<!-- Blog List News -->
<article class="row mb-7">
  <div class="col-sm-5 mb-5 mb-sm-0">
    <!-- Image -->
    <img class="img-fluid w-100 rounded" src="../../assets/img/480x320/img16.jpg" alt="Image Description">
    <!-- End Image -->
  </div>

  <div class="col-sm-7">
    <!-- Info -->
    <div class="pt-1 pr-4">
      <small class="d-block text-muted mb-3">April 16, 2018</small>
      <div class="mb-7">
        <h3 class="h5">
          <a href="single-article-classic.html">Trends with benefits</a>
        </h3>
        <p>Trends, content, interests, buzz, emoji — these are a few of our favorite things...</p>
      </div>
      <small class="d-block text-secondary">by <a class="text-dark font-weight-bold" href="#">Scott Levine</a></small>
    </div>
    <!-- End Info -->
  </div>
</article>
<!-- End Blog News -->

<!-- Blog List News -->
<article class="row mb-7">
  <div class="col-sm-5 mb-5 mb-sm-0">
    <!-- Image -->
    <img class="img-fluid w-100 rounded" src="../../assets/img/480x320/img15.jpg" alt="Image Description">
    <!-- End Image -->
  </div>

  <div class="col-sm-7">
    <!-- Info -->
    <div class="pt-1 pr-4">
      <small class="d-block text-muted mb-3">May 5, 2018</small>
      <div class="mb-7">
        <h3 class="h5">
          <a href="single-article-classic.html">5 basic tips for illustrating</a>
        </h3>
        <p>Tips and tricks that most people wouldn't highlight when illustrating....</p>
      </div>
      <small class="d-block text-secondary">by <a class="text-dark font-weight-bold" href="#">James Austin</a></small>
    </div>
    <!-- End Info -->
  </div>
</article>
<!-- End Blog News -->

<!-- Blog List News -->
<article class="row mb-7">
  <div class="col-sm-5 mb-5 mb-sm-0">
    <!-- Image -->
    <img class="img-fluid w-100 rounded" src="../../assets/img/480x320/img18.jpg" alt="Image Description">
    <!-- End Image -->
  </div>

  <div class="col-sm-7">
    <!-- Info -->
    <div class="pt-1 pr-4">
      <small class="d-block text-muted mb-3">May 1, 2018</small>
      <div class="mb-7">
        <h3 class="h5">
          <a href="single-article-classic.html">Announcing a plan for small teams</a>
        </h3>
        <p>We've always believed that by providing a space...</p>
      </div>
      <small class="d-block text-secondary">by <a class="text-dark font-weight-bold" href="#">Charlotte
          Moore</a></small>
    </div>
    <!-- End Info -->
  </div>
</article>
<!-- End Blog News -->

<!-- Pagination -->
<!-- End Pagination -->