<div id="stickyBlockStartPoint">

  <div class="js-sticky-block" data-has-sticky-header="true" data-offset-target="#logoAndNav" data-sticky-view="lg"
    data-start-point="#stickyBlockStartPoint" data-end-point="#stickyBlockEndPoint" data-offset-top="32"
    data-offset-bottom="170">
    <h3 class="h5 text-primary font-weight-bold mb-4">News</h3>

    <!-- Thumbnail News -->
    <article class="mb-5">
      <div class="media mb-1">
        <div class="d-flex mr-3">
          <img class="img-fluid rounded u-avatar" src="../../assets/img/100x100/img5.jpg" alt="Image Description">
        </div>
        <div class="media-body">
          <h4 class="h6 font-weight-normal mb-0">
            <a href="#">
              Homemade Clabatta donuts
            </a>
          </h4>
        </div>
      </div>
    </article>
    <!-- End Thumbnail News -->

    <!-- Thumbnail News -->
    <article class="mb-5">
      <div class="media mb-1">
        <div class="d-flex mr-3">
          <img class="img-fluid rounded u-avatar" src="../../assets/img/100x100/img7.jpg" alt="Image Description">
        </div>
        <div class="media-body">
          <h4 class="h6 font-weight-normal mb-0">
            <a href="#">
              Spruce up your coffee table
            </a>
          </h4>
        </div>
      </div>
    </article>
    <!-- End Thumbnail News -->

    <!-- Thumbnail News -->
    <article class="mb-5">
      <div class="media mb-1">
        <div class="d-flex mr-3">
          <img class="img-fluid rounded u-avatar" src="../../assets/img/100x100/img6.jpg" alt="Image Description">
        </div>
        <div class="media-body">
          <h4 class="h6 font-weight-normal mb-0">
            <a href="#">
              Breating in the crisp air of cozy place
            </a>
          </h4>
        </div>
      </div>
    </article>
    <!-- End Thumbnail News -->

    <hr class="my-7">

    <h3 class="h5 text-primary font-weight-bold mb-4">Tags</h3>

    <!-- Tags -->
    <ul class="list-inline mb-0">
      <li class="list-inline-item pb-3">
        <a class="u-label u-label--xs u-label--secondary" href="#">Design</a>
      </li>
      <li class="list-inline-item pb-3">
        <a class="u-label u-label--xs u-label--secondary" href="#">Art</a>
      </li>
      <li class="list-inline-item pb-3">
        <a class="u-label u-label--xs u-label--secondary" href="#">Graphic</a>
      </li>
      <li class="list-inline-item pb-3">
        <a class="u-label u-label--xs u-label--secondary" href="#">CSS</a>
      </li>
      <li class="list-inline-item pb-3">
        <a class="u-label u-label--xs u-label--secondary" href="#">HTML</a>
      </li>
      <li class="list-inline-item pb-3">
        <a class="u-label u-label--xs u-label--secondary" href="#">SASS</a>
      </li>
      <li class="list-inline-item">
        <a class="u-label u-label--xs u-label--secondary" href="#">WordPress</a>
      </li>
    </ul>
    <!-- End Tags -->

  </div>

</div>