<!-- Skippy -->
<a id="skippy" class="sr-only sr-only-focusable u-skippy" href="#content">
  <div class="container">
    <span class="u-skiplink-text">Skip to main content</span>
  </div>
</a>
<!-- End Skippy -->

<!-- ========== HEADER ========== -->
<app-header></app-header>
<!-- ========== END HEADER ========== -->

<!-- ========== MAIN ========== -->
<main id="content" role="main">
  <router-outlet></router-outlet>
</main>
<!-- ========== END MAIN ========== -->

<!-- ========== FOOTER ========== -->
<app-footer></app-footer>
<!-- ========== END FOOTER ========== -->

<!-- ========== SECONDARY CONTENTS ========== -->
<!-- Account Sidebar Navigation -->
<app-account-sidebar-nav></app-account-sidebar-nav>
<!-- End Account Sidebar Navigation -->
<!-- ========== END SECONDARY CONTENTS ========== -->

<!-- Go to Top -->
<a class="js-go-to u-go-to" href="#" data-position='{"bottom": 15, "right": 15 }' data-type="fixed"
  data-offset-top="400" data-compensation="#header" data-show-effect="slideInUp" data-hide-effect="slideOutDown">
  <span class="fa fa-arrow-up u-go-to__inner"></span>
</a>
<!-- End Go to Top -->