<header id="header" class="u-header u-header--abs-top-md u-header--bg-transparent u-header--show-hide-md"
  data-header-fix-moment="500" data-header-fix-effect="slide">
  <!-- Search -->
  <div id="searchPushTop" class="u-search-push-top">
    <div class="container position-relative">
      <div class="u-search-push-top__content mx-auto">
        <!-- Close Button -->
        <button type="button" class="close u-search-push-top__close-btn" aria-haspopup="true" aria-expanded="false"
          aria-controls="searchPushTop" data-unfold-type="jquery-slide" data-unfold-target="#searchPushTop">
          <span aria-hidden="true">&times;</span>
        </button>
        <!-- End Close Button -->

        <!-- Input -->
        <form class="js-focus-state input-group input-group-lg u-form u-form--lg u-form--no-brd">
          <input type="search" class="form-control u-form__input" placeholder="Search Front" aria-label="Search Front">
          <div class="input-group-append">
            <button type="button" class="btn btn-primary u-btn-primary">Search</button>
          </div>
        </form>
        <!-- End Input -->

      </div>
    </div>
  </div>
  <!-- End Search -->

  <div class="u-header__section">
    <!-- Topbar -->
    <div class="container u-header__hide-content pt-2">
      <div class="d-flex align-items-center mb-0">
        <!-- Language -->
        <div class="position-relative">
        </div>
        <!-- End Language -->

        <div class="ml-auto">
          <!-- Jump To -->
          <div class="d-inline-block d-sm-none position-relative mr-2">
          </div>
          <!-- End Jump To -->

          <!-- Links -->
          <div class="d-none d-sm-inline-block ml-sm-auto">
          </div>
          <!-- End Links -->
        </div>

        <ul class="list-inline ml-2 mb-0">
          <!-- Search -->
          <li class="list-inline-item">
            <a class="btn btn-xs u-btn--icon u-btn-text-secondary" href="javascript:;" role="button" aria-haspopup="true"
              aria-expanded="false" aria-controls="searchPushTop" data-unfold-type="jquery-slide" data-unfold-target="#searchPushTop">
              <span class="fa fa-search u-btn--icon__inner"></span>
            </a>
          </li>
          <!-- End Search -->

          <!-- Shopping Cart -->
          <!-- End Shopping Cart -->

          <!-- Account Login -->
          <li class="list-inline-item">
            <!-- Account Sidebar Toggle Button -->
            <a id="sidebarNavToggler" class="btn btn-xs u-btn--icon u-btn-text-secondary u-sidebar__toggler" href="javascript:;"
              role="button" aria-controls="sidebarContent" aria-haspopup="true" aria-expanded="false" data-unfold-event="click"
              data-unfold-hide-on-scroll="false" data-unfold-target="#sidebarContent" data-unfold-type="css-animation"
              data-unfold-animation-in="fadeInRight" data-unfold-animation-out="fadeOutRight" data-unfold-duration="500">
              <span class="fa fa-user-circle u-btn--icon__inner font-size-14"></span>
            </a>
            <!-- End Account Sidebar Toggle Button -->
          </li>
          <!-- End Account Login -->
        </ul>
      </div>
    </div>
    <!-- End Topbar -->

    <div id="logoAndNav" class="container">
      <!-- Nav -->
      <nav class="js-mega-menu navbar navbar-expand-md u-header__navbar">
        <!-- Logo -->
        <a class="navbar-brand u-header__navbar-brand u-header__navbar-brand-top-space" href="../home/index.html"
          aria-label="Front">
          <img src="../../assets/svg/logos/logo.svg" alt="Logo">
        </a>
        <!-- End Logo -->

        <!-- Responsive Toggle Button -->
        <button type="button" class="navbar-toggler btn u-hamburger" aria-label="Toggle navigation" aria-expanded="false"
          aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
          <span id="hamburgerTrigger" class="u-hamburger__box">
            <span class="u-hamburger__inner"></span>
          </span>
        </button>
        <!-- End Responsive Toggle Button -->

        <!-- Navigation -->
        <div id="navBar" class="collapse navbar-collapse py-0">
          <ul class="navbar-nav u-header__navbar-nav ml-lg-auto">
            <!-- Starter - Link -->
            <li class="nav-item">
              <a class="nav-link u-header__nav-link" href="../../starter/index.html">
                Starter
              </a>
            </li>
            <!-- End Starter - Link -->

            <!-- Starter - Link -->
            <li class="nav-item">
              <a class="nav-link u-header__nav-link" href="../../starter/index.html">
                Starter
              </a>
            </li>
            <!-- End Starter - Link -->

            <!-- Works -->
            <li class="nav-item hs-has-mega-menu u-header__nav-item" data-event="hover" data-animation-in="slideInUp"
              data-animation-out="fadeOut" data-position="right">
              <a id="worksMegaMenu" class="nav-link u-header__nav-link" href="javascript:;" aria-haspopup="true"
                aria-expanded="false">
                Work
                <span class="fa fa-angle-down u-header__nav-link-icon"></span>
              </a>

              <!-- Works - Mega Menu -->
              <div class="hs-mega-menu w-100 u-header__sub-menu u-header__mega-menu-wrapper-v1" aria-labelledby="worksMegaMenu">
                <div class="row">
                  <div class="col-sm-6 col-lg-3 mb-3 mb-lg-0">
                    <strong class="d-block mb-2">Boxed Layouts</strong>

                    <!-- Links -->
                    <ul class="list-unstyled u-list">
                      <li><a class="nav-link u-list__link py-2 px-0" href="../portfolio/boxed-classic.html">Portfolio
                          Classic</a></li>
                      <li><a class="nav-link u-list__link py-2 px-0" href="../portfolio/boxed-grid.html">Portfolio Grid</a></li>
                      <li><a class="nav-link u-list__link py-2 px-0" href="../portfolio/boxed-masonry.html">Portfolio
                          Masonry</a></li>
                      <li><a class="nav-link u-list__link py-2 px-0" href="../portfolio/boxed-modern.html">Portfolio
                          Modern</a></li>
                    </ul>
                    <!-- End Links -->
                  </div>

                  <div class="col-sm-6 col-lg-3 mb-3 mb-lg-0">
                    <strong class="d-block mb-2">Full Width Layouts</strong>

                    <!-- Links -->
                    <ul class="list-unstyled u-list">
                      <li><a class="nav-link u-list__link py-2 px-0" href="../portfolio/fullwidth-classic.html">Portfolio
                          Classic</a></li>
                      <li><a class="nav-link u-list__link py-2 px-0" href="../portfolio/fullwidth-grid.html">Portfolio
                          Grid</a></li>
                      <li><a class="nav-link u-list__link py-2 px-0" href="../portfolio/fullwidth-masonry.html">Portfolio
                          Masonry</a></li>
                      <li><a class="nav-link u-list__link py-2 px-0" href="../portfolio/fullwidth-modern.html">Portfolio
                          Modern</a></li>
                    </ul>
                    <!-- End Links -->
                  </div>

                  <div class="col-sm-6 col-lg-3 mb-3 mb-sm-0">
                    <strong class="d-block mb-2">Single Pages</strong>

                    <!-- Links -->
                    <ul class="list-unstyled u-list">
                      <li><a class="nav-link u-list__link py-2 px-0" href="../portfolio/single-page-simple.html">Single
                          Page Simple</a></li>
                      <li><a class="nav-link u-list__link py-2 px-0" href="../portfolio/single-page-grid.html">Single
                          Page Grid</a></li>
                      <li><a class="nav-link u-list__link py-2 px-0" href="../portfolio/single-page-masonry.html">Single
                          Page Masonry</a></li>
                    </ul>
                    <!-- End Links -->
                  </div>

                  <div class="col-sm-6 col-lg-3">
                    <strong class="d-block mb-2">Case Studies</strong>

                    <!-- Links -->
                    <ul class="list-unstyled u-list">
                      <li><a class="nav-link u-list__link py-2 px-0" href="../portfolio/case-studies-simple.html">Case
                          Studies Simple</a></li>
                      <li><a class="nav-link u-list__link py-2 px-0" href="../portfolio/case-studies-modern.html">Case
                          Studies Modern</a></li>
                    </ul>
                    <!-- End Links -->
                  </div>
                </div>
              </div>
              <!-- End Works - Mega Menu -->
            </li>
            <!-- End Works -->

            <!-- Starter - Link -->
            <li class="nav-item">
              <a class="nav-link u-header__nav-link" href="../../starter/index.html">
                Starter
              </a>
            </li>
            <!-- End Starter - Link -->

            <!-- Starter - Link -->
            <li class="nav-item">
              <a class="nav-link u-header__nav-link" href="../../starter/index.html">
                Starter
              </a>
            </li>
            <!-- End Starter - Link -->

            <!-- Button -->
            <li class="nav-item d-none d-md-inline-block pl-3 pr-0">
              <a class="btn btn-sm btn-primary u-btn-primary transition-3d-hover" href="https://themes.getbootstrap.com/product/front-multipurpose-responsive-template/"
                target="_blank">
                Upload Now
              </a>
            </li>
            <!-- End Button -->
          </ul>
        </div>
        <!-- End Navigation -->
      </nav>
      <!-- End Nav -->
    </div>
  </div>
</header>