<div class="loginColumns animated fadeInDown">
  <div class="row">

    <div class="col-md-6">
      <h2 class="font-bold">Welcome to P2Tiger</h2>

      <p>
        Perfectly designed and precisely prepared admin theme with over 50 pages with extra new web app views.
      </p>

      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s.
      </p>

      <p>
        When an unknown printer took a galley of type and scrambled it to make a type specimen book.
      </p>

      <p>
        <small>It has survived not only five centuries, but also the leap into electronic typesetting, remaining
          essentially unchanged.</small>
      </p>

    </div>
    <div class="col-md-6">
      <div class="ibox-content">
        <form class="m-t" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
          <div class="form-group">
            <input type="text" name="username" [(ngModel)]="form.username" #username="ngModel" class="form-control"
              placeholder="Username" required minlength="6">
            <div *ngIf="f.submitted && username.invalid">
              <label *ngIf="username.errors.required" class="error" for="username">Username is required</label>
              <label *ngIf="username.errors && username.errors.minlength" class="error" for="username">Username must be
                at least 6
                characters</label>
            </div>
          </div>
          <div class="form-group">
            <input type="password" name="password" [(ngModel)]="form.password" #password="ngModel" class="form-control"
              placeholder="Password" required minlength="6">
            <div *ngIf="f.submitted && password.invalid">
              <label *ngIf="password.errors.required" class="error" for="password">Password is required</label>
              <label *ngIf="password.errors && password.errors.minlength" class="error" for="password">Password must be
                at least 6
                characters</label>
            </div>
          </div>
          <button type="submit" class="btn btn-primary block full-width m-b">Login</button>
          <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">
            Login failed: {{errorMessage}}
          </div>

          <a routerLink="/forgot-password">
            <small>Forgot password?</small>
          </a>

          <p class="text-muted text-center">
            <small>Do not have an account?</small>
          </p>
          <a class="btn btn-sm btn-white btn-block" routerLink="/register">Create an account</a>
        </form>
        <p class="m-t">
          <small>Inspinia we app framework base on Bootstrap 3 &copy; 2014</small>
        </p>
      </div>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-6">
      Copyright Example Company
    </div>
    <div class="col-md-6 text-right">
      <small>© 2018-2019</small>
    </div>
  </div>
</div>